.container{
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin: 80px auto;
}

.box{
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    transition: 0.5s ease;
    animation: circle-in-hesitate 0.5s ease alternate;
    

    /* translate */
    /* transform:translate(50px,50px) ; */
    /* transform: translate(50%,50%); */
    /* transform: translateX(20px) */
    /* transform: translateY(50px); */
    /* transform: translateZ(30px); */
    /* transform: translate3d(100px); */

    /* rotate */
     transform: rotate(20deg);
    /* transform: rotate(-20deg); */ 
    /* transform: rotateX(180deg); */
    /* transform: rotateY(30deg); */
    /* transform: rotateZ(60deg); */


    /* Scale */
    /* transform: scale(2); */
    /* transform: scale(2,3); */
    /* transform: scaleX(2); */
    /* transform: scaleY(3); */
    /* transform: scaleZ(3); */

    /* skew */
    /* transform: skew(30deg); */
    /* transform: skew(30deg,50deg); */
    /* transform: skewX(40deg); */
    /* transform: skewY(40deg); */


     /* transform origin */

     /* transform-origin: 50% 50% ; */
     /* transform-origin: top left; */
     /* transform-origin: center; */
     /* transform-origin: 0% 0%; */
     /* transform-origin: 100px 200px; */
     /* transform-origin: right; */



    
    }

    .box:hover{
        transform: rotate(45deg);


}